* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

:root {
  /*primary color*/
  --Softblue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  /*neutral color*/
  --main: hsl(217, 54%, 11%);
  --card: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--main);
  font-family: Outfit, sans-serif;
  color: var(--Softblue);
  max-width: 1440px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  background-color: var(--card);
  padding: 30px;
  margin: 50px;
  border-radius: 20px;
  max-width: 375px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.items__svg {
  display: flex;
  justify-content: space-between;
}

.items__avatar {
  display: flex;
  padding: 5px;
  align-items: center;
}

h1 {
  color: white;
  font-size: 21px;
}

p {
  font-size: 18px;
}

a {
  color: white;
  text-decoration: none;
}

/*image overlay */

.image__img {
  display: block;
  max-width: 100%;
}

.image__overlay {
  position: absolute;
  top: 78px;
  width: 315px;
  height: 318px;
  background-color: rgba(0, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 20px;
  cursor: pointer;
}

.image__overlay:hover {
  opacity: 1;
}

.footer {
  text-align: center;
}
